
<section class="services" id="services">
    <div class="container">

      <div class="main-txt">
        <h1><span>S</span>ervices</h1>
      </div>

      <div class="row" style="margin-top: 30px;">

        <div class="col-md-4 py-3 py-md-0">
          
          <div class="card">
            <img class="i" src="hotel.png">
            <div class="card-body">
              <h3>Affordable Hotel</h3>
              <p>A hotel that provides minimum amenities and services for a lower price than a regular hotel in the area.
                 This type of hotel provides clean rooms that are safe and meet the basic needs of a guest.
                 Extra amenities may be available, but for an extra cost.</p>
            </div>
          </div>

        </div>
        <div class="col-md-4 py-3 py-md-0">

          <div class="card">
            <img class="i" src="food.jpg">
            <div class="card-body">
              <h3>Food & Drinks</h3>
              <p>Start your day with our sumptuous breakfast buffet, featuring a variety of hot and cold options.
                 Indulge in freshly baked pastries, seasonal fruits, eggs cooked to order, 
                 and a selection of meats and cheeses</p>
            </div>
          </div>

        </div>
        <div class="col-md-4 py-3 py-md-0">

          <div class="card">
            <img class="i" src="safety.png">
            <div class="card-body">
              <h3>Safty Guide</h3>
              <p>Safety is a state in which hazards and conditions leading to physical, psychological or material harm are controlled in order to preserve the health and well-being of individuals and the community</p>
            </div>
          </div>

        </div>



      </div>


      <div class="row" style="margin-top: 30px;">

        <div class="col-md-4 py-3 py-md-0">

          <div class="card">
            <img class="i" src="maharashtra.png">
            <div class="card-body">
              <h3>Around The Maharashtra</h3>
              <p>Maharashtra attracts tourists from other Indian states and foreign countries. It was the second most visited Indian state by foreigners and fifth most visited state by domestic tourists in the country in 2021.</p>
            </div>
          </div>

        </div>
        <div class="col-md-4 py-3 py-md-0">

          <div class="card">
            
             <img class="i" src="tavel.jpg">
          
            <div class="card-body">
              <h3>Fastest Travel</h3>
              <p>For those who crave speed and efficiency in their travels,offers the fastest options to get you to your dream destinations swiftly and comfortably. Embrace the thrill of high-speed travel and make the most of your time exploring new places.</p>
            </div>
          </div>

        </div>
        <div class="col-md-4 py-3 py-md-0">

          <div class="card">
           <img class="i" src="adventure.png">
            <div class="card-body">
              <h3>Adventures</h3>
              <p>For thrill-seekers and nature enthusiasts,offers a range of exhilarating adventure tours that promise unforgettable experiences. Whether you're an adrenaline junkie or a curious explorer, our adventure travel packages are designed to immerse you in the wild beauty and excitement of the great outdoors.</p>
            </div>
          </div>

        </div>



      </div>

    </div>
  </section>
