<div class="container">
    <h1 class="text-center">All Appointment</h1>
    <table class="table table-bordered" style="background-color: white;">
        <thead>
           <tr>
            <th>Appointment Id</th>
            <th>Date</th>
             <th>Status</th>
            <th>Action</th>
           </tr> 
        </thead>
        <tbody>
            <tr *ngFor="let x of b">
                <td>{{x.bid}}</td>
                <td>{{x.date}}</td>
                                <td>{{x.status}}</td>
                <td><a class="btn btn-primary" (click)="change(x.bid)">Approve</a></td>

            </tr>
        </tbody>
    </table>
</div>
